.Taks {
  height: 17.938rem;
  margin-top: 4rem;

}


.Info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.Info span {
  padding-left: 0.5rem;
}

.Info p {
  color: var(--blue);
  font-weight: bold;

}

.Info p:nth-child(2) {
  color: var(--purple);
  font-weight: bold;
}

.Empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 4rem 0 4rem 0;

  border-top: 1px solid var(--gray-400);
  border-radius: 0.5rem;
  color: var(--gray-300);

}

.Empty p {
  color: var(--gray-300);
}

.Empty p:nth-child(2) {
  padding-top: 1rem;
  color: var(--gray-300);
  font-weight: bold;
}