.InfoTaks {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;

}


.Info {

  width: 46rem;
  height: 18rem;
  display: flex;
  justify-content: space-between;
  color: #fff
}

.InfoEmpty{
  display: flex;
  justify-content: center;
  align-items: center;
}