.Taks {
  color: #fff;
  background-color: red;
  height: 17.938rem;
  margin-top: 4rem;



}


.Info {
  display: flex;
  justify-content: space-between;
}

.Taks hr {
  margin-top: 1.5rem;
}

.Empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;


}

.Empty strong p {

  padding: 8.5rem 1.5rem 4rem 1.5rem;
}